---
layout: default
---
<article class="post">

  {{ content }}

  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li> {% include icon-bike.html %} </li>
      </ul>
    </div>

    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li> {% include icon-bus.html %} </li>
      </ul>
    </div>

    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li> {% include icon-car.html %} </li>
      </ul>
    </div>
  </div>

</article>


